@font-face {
  font-display: swap; 
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/epilogue-v20-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/epilogue-v20-latin-700.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/epilogue-v20-latin-800.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/epilogue-v20-latin-900.woff2') format('woff2');
}