* {
  margin: 0;
  padding: 0;
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family:"Epilogue",Arial, sans-serif;
  overflow-x: hidden;
  background-color: #F5EBE0;
}