@mixin respond($device) {
  @if $device == mobile {
    @media (max-width: 576px) {
      @content; 
    }
  }
  @else if $device == tablet {
    @media (max-width: 768px) {
      @content;
    }
  }
  @else if $device == laptop {
    @media (max-width: 992px) {
      @content;
    }
  }
  @else if $device == desktop {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

@mixin brand-btn {
  width: 138px;
  height: 48px;
  font-weight: $fw-ultrabold;
  font-size: $fs-14;
  border-radius: $radius-6;
  border: none;
  color: $text-dark;
  background: $background-btn;
  box-shadow: 0px 3px 9px 0px rgb($text-dark, $opacity-8);
  cursor: pointer;
}