$mobile: 576px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;

$fw-regular: 400;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-ultrabold: 900;

$fs-14: 14px;
$fs-16: 16px;
$fs-20: 20px;
$fs-24: 24px;
$fs-40: 40px;
$fs-56: 56px;
$fs-72: 72px;

$text-dark: #391400;          
$text-dark-accent: #EF6D58;  
$text-dark-gray: #391400A3;   

$text-light: #FFFFFF;        
$text-light-gray: #FFFFFFA3;  

$background-avatar:#B550F6;

$background-btn: #FFFFFF;

$background-color: #28293E;

$border-card-light: #F3D1BF;
$border-card-dark:  #3A3C56;

$border-1: 1px;

$radius-6: 6px;

$opacity-64: 0.64; 
$opacity-30: 0.2957;
$opacity-8:  0.08;   
$opacity-4:  0.04; 