.experience {
  padding-bottom: 161px;

  &__box {
    display: flex;
    justify-content: end;
    background-image: url(../../images/experience-img-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
  }

  &__list {
    max-width: 470px;
    padding-top: 70px;
    padding-bottom: 79px;
  }

  &__tag {
    font-weight: $fw-regular;
    font-size: $fs-16;
    line-height: 32px;
    letter-spacing: 3px;
    color: $text-dark-accent;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: $fw-extrabold;
    font-size: $fs-56;
    line-height: 64px;
    letter-spacing: -1px;
    color: $text-dark;
    margin-bottom: 26px;
  }

  &__subtitle {
    font-weight: $fw-regular;
    font-size: $fs-20;
    line-height: 32px;
    color: $text-dark;
    margin-bottom: 18px;
  }

  &__text {
    font-weight: $fw-regular;
    font-size: $fs-16;
    line-height: 32px;
    color: rgb($text-dark, $opacity-64);
    margin-bottom: 34px;
  }

  &__btn {
    @include brand-btn;
  }

  @include respond(laptop) {
    padding-bottom: 112px;

    &__box {
      background-size: 500px 530px; 
      background-position: 25px top;
    }

    &__list {
      padding-top: 540px;
      padding-bottom: 0px;
    }
  }

  @include respond(mobile) {
    &__box {
      background-size: 329px 340px;
      background-position: top center;
    }

    &__list {
      padding-top: 360px;
    }

    &__tag {
      margin-bottom: 17px;
    }

    &__title {
      font-size: $fs-40;
      line-height: 48px;
      letter-spacing: 0px;
      margin-bottom: 29px;
    }

    &__text {
      margin-bottom: 32px;
    }
  }
}