.hero {
  padding-top: 185px;
  padding-bottom: 56px;
  background-color: $background-color;
  background-image: url(../../images/hero-title-img-bg.png);
  background-repeat: no-repeat;
  background-position: 33% 215px;

  &__container {
    padding-top: 10px;
    background-image: url(../../images/hero-img-bg.png);
    background-repeat: no-repeat;
    background-position: right top;
  }

  &__subtitle {
    font-weight: $fw-regular;
    font-size: $fs-16;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $text-dark-accent;
    margin-bottom: 24px;
  }

  &__title {
    max-width: 513px;
    font-weight: $fw-extrabold;
    font-size: $fs-72;
    line-height: 80px;
    letter-spacing: -2px;
    color: $text-light;
    margin-bottom: 24px;
  }

  &__text {
    max-width: 470px;
    font-weight: $fw-regular;
    font-size: $fs-16;
    line-height: 32px;
    color: $text-light-gray;
    margin-bottom: 34px;
  }

  &__buttons {
    display: flex;
    gap: 46px;
    margin-bottom: 108px;
  }

  &__btn {
    width: 154px;
    height: 48px;
    border-radius: $radius-6;
    font-weight: $fw-ultrabold;
    font-size: $fs-14;
    text-align: center;
    color: $text-light;
    background-color: $text-dark-accent;
    border: none;
    cursor: pointer;
  }

  &__btn-active {
    font-weight: $fw-regular;
    font-size: $fs-16;
    line-height: 32px;
    color: $text-light;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.testimonial {
  max-width: 391px;
  display: flex;
  align-items: center;
  gap: 16px;

  &__avatar {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: $background-avatar;
    position: relative;

    &-img {
      object-fit: cover;
      position: absolute;
      left: 3px;
      top: 5px;
    }
  }

  &__text {
    font-weight: $fw-regular;
    font-size: $fs-16;
    line-height: 32px;
    color: $text-light-gray;
  }

  &__author {
    padding-left: 5px;
    font-weight: $fw-regular;
    font-size: $fs-16;
    color: $text-light;
  }
}

@include respond(laptop) {
  
  .hero {
    padding-top: 100px;
    background-position: 37% 55%;

    &__container {
      padding-top: 500px;
      background-size: 510px 540px;
    }
  } 
}

@include respond(mobile) {
  .hero {
    padding-bottom: 32px;
    background-image: none;
    
    &__container {
      padding-top: 360px;
      background-size: 329px 334px;
      background-position: top center;
    }

    &__subtitle {
      margin-bottom: 20px;
    }

    &__title {
      font-size: $fs-56;
      line-height: 64px;
      margin-bottom: 12px;
    }

    &__buttons {
      margin-bottom: 44px;
    }
  }

  .testimonial {
    max-width: 320px;
    align-items: start;
    
    &__author {
      padding-left: 0px;
      line-height: 32px;
    }
  }
}