.projects {
  &__list {
    display: flex;
    align-items: center;
    gap: 130px;
    border-bottom: $border-1 solid $border-card-light;
    padding-bottom: 108px;
  }
}

.project {
  &__left-column {
    max-width: 470px;
  }
  
  &__tag{
    font-weight: $fw-regular;
    font-size: $fs-16;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $text-dark-accent;
    margin-bottom: 17px;
  }
  
  &__title {
    font-weight: $fw-extrabold;
    font-size: $fs-40;
    line-height: 48px;  
    color: $text-dark;
    margin-bottom: 32px;
  }
  
  &__subtitle {
    font-weight: $fw-regular;
    font-size: $fs-16;
    line-height: 32px;
    color: rgb($text-dark,$opacity-64);
    margin-bottom: 28px;
  } 

  &__btn {
    font-weight: $fw-regular;
    font-size: $fs-16;
    line-height: 32px;
    color: $text-dark;
    background-color: transparent;
    border: none;
  }

  &__right-column {
    max-width: 502px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
  }

  &__feature-item {
    display: flex;
    align-items: center;
    gap: 53px;
  }

  &__number {
    font-weight: $fw-extrabold;
    font-size: $fs-72;
    line-height: 80px;
    letter-spacing: -2px;
    color: $text-dark;
  }

  &__feature-text {
    font-weight: $fw-bold;
    font-size: $fs-24;
    line-height: 32px;
    color: $text-dark;
  }

  &__service {
    padding-left: 13px;
  }  
}

@include respond(tablet) {
  .projects__list {
    gap: 100px;
  }

  .project {
    &__feature-item {
      gap: 33px;
    }

    &__number {
      font-size: $fs-40;
    }
  } 
}

@include respond(mobile) {
  .projects {
    &__list {
      flex-direction: column;
      gap: 130px;
    }
  }

  .project {
    &__title {
      margin-bottom: 15px;
    }

    &__subtitle {
      margin-bottom: 32px;
    }

    &__feature-item {
      gap: 53px;
    }

    &__feature-item {
      gap: 25px;
    }

    &__number {
      font-size: $fs-72;
    }
  }
}