.stats {
  padding-bottom: 140px;

  &__list {
    border-radius: $radius-6;
    border: $border-1 solid $border-card-light;
    overflow: hidden;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.stat {
  &__item {
    padding: 45px 48px 38px;

    &:nth-child(1),
    &:nth-child(2) {
      border-right: $border-1 solid $border-card-light;
    }
  }

  &__number {
    font-weight: $fw-extrabold;
    font-size: $fs-40;
    line-height: 48px;
    color: $text-dark;
    margin-bottom: 13px;
  }

  &__label {
    font-weight: $fw-regular;
    font-size: $fs-20;
    line-height: 32px;
    color: $text-dark;
  }
}

.stats {
  padding-bottom: 94px;

  &__grid {
    @include respond(mobile) {
      grid-template-columns:repeat(1, 1fr);
    }
  }
}

.stat {
  &__item {
    &:nth-child(2),
    &:nth-child(3) {
      border-top: $border-1 solid $border-card-light;
    }
  }
}